@import "styles/settings/__settings";

.signup {

  max-width: 20em;
  margin: 3em auto 0;

  p,
  input,
  button {
    width: 100%;
    text-align: center;
  }

  button {

    outline: none;

    &:focus {
      box-shadow: 0 2px 12px $color-primary;
    }

  }

  input {
    margin-bottom: 1em;
  }

  p {
    font-size: 1.2em;
  }

}

.offline {
  text-align: center;
  margin-top: 3em;
  font-size: 1.2em;
}