@import "styles/settings/__settings";

.input {

  font-family: inherit;
  font-size: 1.3em;
  background-color: white;
  padding: .8em 1.4em;
  border-radius: $border-radius-small;
  border: solid 2px rgba(0, 0, 0, .4);
  outline: none;

  &:focus {
    border: solid 2px $color-primary;
    box-shadow: 0 0 12px rgba($color-primary, .5);
  }

}