@import "styles/settings/__settings";
@import "styles/util/__util";

.homeTitle {

  color: $color-purple-800;
  font-size: 10vw;
  font-weight: 900;
  text-align: center;
  background-image: url('/images/journey-to-dev-header-01.jpg');
  background-size: 100%;
  background-position: top center;
  padding-top: 25%;
  background-repeat: no-repeat;
  margin-top: -1em;
  margin-bottom: .5em;

  @include gtMedium() {
    font-size: 5em;
  }

  @include gtLarge() {
    font-size: 6em;
  }

}

.homeTagline {
  max-width: 25em;
  font-size: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.homeCopy {

  text-align: center;

  h2 {
    font-size: 2.2em;
  }

  p {

    font-size: 1.5em;

    button {
      font-size: 1em;
      margin: 1em 0;
    }

  }


}