@import "styles/settings/__settings";

.homeTitle {
  font-size: 4em;
  text-align: center;
  margin-top: 0;
}

.homeTagline {
  max-width: 25em;
  font-size: 2em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.homeCopy {

  text-align: center;

  h2 {
    font-size: 2.2em;
  }

  p {

    font-size: 1.5em;

    button {
      font-size: 1em;
      margin: 1em 0;
    }

  }


}